/**
 * View transitions
 */

:root {
	view-transition-name: none;
}

/* @media (prefers-reduced-motion) {

	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
} */

/**
 * fade 
 */

@keyframes fade {
	0% {
		opacity: var(--start, 1);
	}

	100% {
		opacity: var(--end, 1);
	}
}

::view-transition-new(fade),
::view-transition-old(fade) {
	animation: fade ease 0.3s;
}

::view-transition-new(fade) {
	--start: 0;
}

::view-transition-old(fade) {
	--end: 0;
}

/**
 * count 
 */

@keyframes count {
	0% {
		scale: 1 var(--start, 1);
	}

	100% {
		scale: 1 var(--end, 1);
	}
}

::view-transition-new(count),
::view-transition-old(count) {
	animation: count 0.25s;
}

::view-transition-new(count) {
	--start: 0;
	transform-origin: 50% 0;
}

::view-transition-old(count) {
	--end: 0;
	transform-origin: 50% 100%;
}

/**
 * count2 
 */

@keyframes count2 {
	0% {
		scale: 1 var(--start, 1);
	}

	100% {
		scale: 1 var(--end, 1);
	}
}

::view-transition-new(count2),
::view-transition-old(count2) {
	animation: count2 0.25s;
}

::view-transition-new(count2) {
	--start: 0;
	transform-origin: 10% 1000;
}

::view-transition-old(count2) {
	--end: 0;
	transform-origin: 10% 0%;
}